<!-- FIRST SECTION: HEADER -->
<section class="masthead">
  <div class="container h-100">
    <div class="row h-100 align-items-center">
      <div class="col-12 text-center">
        <h1>CAMORI CASHMERE</h1>
        <h3>Collezione Autunno/Inverno 2021</h3>
      </div>
    </div>
  </div>
</section>

<!-- SECOND SECTION: HISTORY -->
<section class="description">
  <div class="container h-100">
    <div class="row h-100 align-items-center">
      <div class="col-12 text-justify description-content">
        <p><i>
          Camori Cashmere e Filati Nobili   nasce nel 2013, grazie alla passione
          e alla creatività della fondatrice Mariarosa Ferlazzo, come azienda di
          tailor made che utilizza in modo esclusivo filati di qualità eccelsa.
          Il cashmere più pregiato e le più morbide sete vengono impiegate per
          soddisfare le più raffinate e capricciose esigenze del cliente.
          Il prodotto nasce tramite la collaborazione con alcuni laboratori di
          eccellenza nella produzione
          della maglieria sartoriale, forti del made in Piemonte, una delle aree
          più importanti per la lavorazione del cashmere, avvalendoci di maestri
          del novarese.  Partendo  dalla collezione basic, i capi e gli accessori
          sono totalmente personalizzabili, nella forma, nei  colori  e nei
          dettagli più ricercati. Camori si rivolge all’uomo e alla donna dal
          gusto classico ed elegante, ed ora si sta affacciando con entusiasmo
          al settore childrenswear.
        </i></p>
      </div>
    </div>
  </div>
</section>

<!-- THIRD SECTION: CATEGORIES -->
<section class="website-categories">
  <a href="#" class="cashmere">
    <div class="category">
      <div class="title">CASHMERE</div>
      <p>Collezione</p>
    </div>
    <div class="background"></div>
  </a>
  <a href="#" class="sartoria">
    <div class="category">
      <div class="title">SARTORIA</div>
      <p>Tessuti haute couture</p>
    </div>
    <div class="background"></div>
  </a>
  <a href="#" class="marca">
    <div class="category">
      <div class="title">CASHMERE</div>
      <p>Capi su misura</p>
    </div>
    <div class="background"></div>
  </a>
   <a href="#" class="news">
    <div class="category">
      <div class="title">NEWS</div>
      <p>Dicono di noi</p>
    </div>
    <div class="background"></div>
  </a>
</section>

<!-- FOURTH SECTION: INFORMATION -->
<section class="shop-information">
  <div class="info-section">
    <div class="contacts">
      <div class="info">
        <div class="title">CONTATTI</div>
        <div class="subtitle">
          <h3>BOUTIQUE</h3>
          <p>Corso Francia 15/E - Torino</p>
          <h3>TELEFONO</h3>
          <p>011/433.14.24 - 347/3217213</p>
          <h3>EMAIL</h3>
          <p>info@camori.it</p>
        </div>
      </div>
    </div>
    <div class="opening-hours">
      <div class="info">
        <div class="title">ORARI</div>
        <div class="subtitle">
          <h3>MARTEDÌ - SABATO</h3>
            <p>10:00 - 13:00    15:30 - 19:00</p>
          <h3>DOMENICA - LUNEDÌ</h3>
            <p>Chiuso</p>
        </div>
      </div>
    </div>
  </div>
</section>
